<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    .box {
      padding: 100px 0;
      width: 400px;
      text-align: center;
      background: #ddd;
      margin: 20px;
      display: inline-block;
    }

    .fav {
      background: steelblue;
      color: white;
    }
  </style>
  <title>02-Vue Basics</title>
</head>
<body>
  <h1>Vue Basics Net Ninja</h1>

  <div id="app">
    <h1 v-if="showTitle">{{ title }}</h1>
    <button @click="toggleTitle">toggle title</button>

    <br>

    <!-- mouse events -->
    <div class="box" v-on:mouseover="handleEvent">mouseover (enter)</div>
    <div class="box" @mouseleave="handleEvent">mouseleave</div>
    <div class="box" @dblclick="handleDoubleClick($event, 5)">double click</div>
    <div class="box" @mousemove="handleMouseMove">position: x - {{x}}, y - {{y}}</div>

    <br>

    <button @click="toggleMovies">Toggle All Movies</button>
    <ul v-if="showMovies">
      <li v-for="movie in movies" :class="{fav: movie.isFavorite}">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.duration }}</p>
        <button @click="toggleFavorite(movie)">
          <span v-if="!movie.isFavorite">Add to favorites</span>
          <span v-else>Remove from favorites</span>
        </button>
      </li>
    </ul>

    <br>

    <h2>Attribute Binding</h2>
    <a :href="url">test link</a>
    <!-- <a v-bind:href="url">test link</a> -->

    <br>

    <h2>Favorite Books: </h2>
    <ul>
      <li v-for="movie in filteredMovies">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.duration }}</p>
      </li>
    </ul>

  </div>

  <script src="app.js"></script>
</body>
</html>